p{
    border : 2px solid red;
    font-size: 30px;
    background-color : rgb(234, 239, 241);
    color: rgb(255, 80, 80);
    margin-top: 100px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 50px;
}